<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each animals}}
    <span>Animal: {{animalType}}</span><br>
    <span>Pet: {{pet}}</span><br>
    <span>Fierceness: {{fierceness}}</span>
  <hr>
{{/each}}